@import "tailwindcss";

#displaySearchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movies{
    padding: 0.5rem 0rem 1rem 1rem;
    margin: 1px auto;
    gap: 20px;
}

.movie_image{
    width: 300px;
    height: 200px;
}

.title {
    font-size: 1rem;
    color: black
}