/* Import Tailwind */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  padding: 1rem;
}

.container {
  background-color: #eee;
}

/*
header {
  background-color: black;
  color: #eee;
  padding: 0.4rem 1rem 0.2rem 1rem;
  margin-bottom: 0.5rem;
  a, :hover, :visited {
    color: #eee;
    text-decoration: none;
  }
  border-radius: 15px;
}
*/

/* Styling the navigation */

nav > ul {
    list-style-type: none;
    text-decoration: none;
    padding-left: 1rem;
    margin: 0;
}

nav > ul > li {
  color: whitesmoke;
  a, :hover, :visited {
    color: #eee;
    text-decoration: none;
  }
  display: inline;
}

/* Styling of the content section - MAIN */

main {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

/* Styling of trending movies feed */
#trendingMovies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movies{
  padding: 0.5rem 0rem 1rem 1rem;
  margin: 1px auto;
  gap: 20px;
}
.trending_movies {

}

.movie_image{
    width: 300px;
    height: 200px;
}
.title {
    font-size: 1.4rem;
    color: black;
}

/*
footer {
  background-color: black;
  p {
    color: #eee;
  }
  a, :hover, :visited {
    color: #eee;
  }
  padding: 1rem 1rem 0.2rem 1rem;
  border-radius: 15px;
}
*/  

@media screen and (max-width: 576px){
    .movies{
        grid-template-columns: repeat(1, 1fr);
    }
}